@import url(https://fonts.googleapis.com/css?family=Abhaya+Libre)
body {
	color: (255,219,13);
	background-color: (70,72,68);
	text-align: center;


}
h1 {
	color: (255,219,13);
	background-color: (70,72,68);
	font-family:'Abhaya Libre', serif;
	font-size: 24px;

}
p{
	font-weight: 600;
	font-size: 18px;
	text-align:center;

}
ul{
	font-weight: 400;
	font-size:15px;
	text-align:center;

}
li{

}
img{

}
#slogan{
	font-style: italic;

}
ol {
	text-align: center;
	div {
		direction:ltr;
	}
}